@model MailContactforPage;
@using System;
@using System.Linq;
@using StudentTracking.Data.Models.PageModel

@{
    ViewData["Title"] = "MailContact";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<title>Mail</title>
<section class="main-content-w3layouts-agileits center-form">
    <div class="container form-container">
        <h3 class="tittle text-center">Mail</h3>
        <div class="inner-sec">
            <div class="section-header">
                @using (Html.BeginForm("MailContact", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return Validate(this);", onkeydown = "return event.key != 'Enter';" }))
                {
                    @Html.HiddenFor(model => model.OutgoingMail.Id)
                    @Html.HiddenFor(model => model.OutgoingMail.CreatedDate)
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationCustom01">Gönderilecek Veli</label>
                            @if (Model.Status == false)
                            {
                                @Html.DropDownListFor(model => model.OutgoingMail.RecipientUserId, new SelectList(Model.GuardianList, "Text", "Value", 0), "Veli seçiniz", new { @class = "form-control", required = "required", autocomplete = "off" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.OutgoingMail.RecipientUserId, new SelectList(Model.GuardianList, "Text", "Value", 0), "Veli seçiniz", new { @class = "form-control", required = "required", autocomplete = "off", @disabled = "disabled" })
                            }
                            @* @Html.DropDownListFor(model => model.OutgoingMail.RecipientUserId, new SelectList(Model.GuardianList, "Text", "Value", 0), "Veli seçiniz", new { @class = "form-control", required = "required", autocomplete = "off" }) *@
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationCustom01">Konu</label>
                            @if (Model.Status == false)
                            {
                                @Html.EditorFor(model => model.OutgoingMail.Subject, new { htmlAttributes = new { @class = "form-control", required = "required", autocomplete = "off" } })
                            }
                            else
                            {
                                @Html.EditorFor(model => model.OutgoingMail.Subject, new { htmlAttributes = new { @class = "form-control", required = "required", autocomplete = "off", @disabled = "disabled" } })
                            }
                            @* @Html.EditorFor(model => model.OutgoingMail.Subject, new { htmlAttributes = new { @class = "form-control", required = "required", autocomplete = "off" } }) *@
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationCustom01">İçerik</label>
                            @if (Model.Status == false)
                            {
                                @Html.TextAreaFor(model => model.OutgoingMail.Message, new
                                    {
                                        @class = "maxlength-textarea form-control",
                                        @data_placement = "bottom-right-inside",
                                        data_plugin = "maxlength",
                                        maxlength = "1000",
                                        rows = "5",
                                        placeholder = "Max 1000 karakter.",
                                        required = "required",
                                        contenteditable = "true"
                                    })
                            }
                            else
                            {
                                @Html.TextAreaFor(model => model.OutgoingMail.Message, new
                                    {
                                        @class = "maxlength-textarea form-control",
                                        @data_placement = "bottom-right-inside",
                                        data_plugin = "maxlength",
                                        maxlength = "1000",
                                        rows = "5",
                                        placeholder = "Max 1000 karakter.",
                                        required = "required",
                                        contenteditable = "true",
                                        @disabled = "disabled"
                                    })
                            }
                            @*  @Html.TextAreaFor(model => model.OutgoingMail.Message, new
                        {
                        @class = "maxlength-textarea form-control",
                        @data_placement = "bottom-right-inside",
                        data_plugin = "maxlength",
                        maxlength = "1000",
                        rows = "5",
                        placeholder = "Max 1000 karakter.",
                        required = "required",
                        contenteditable = "true"
                        }) *@
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">Mail Gönder</button>
                }
            </div>
        </div>
    </div>
</section>