@model StudenttoLessonforListPage;
@using System;
@using System.Linq;
@using StudentTracking.Data.Models.PageModel

@{
    ViewData["Title"] = "SaveStudenttoLesson";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<title>SaveStudenttoLesson</title>
<section class="main-content-w3layouts-agileits center-form">
    <div class="container form-container">
        <h3 class="tittle text-center">Derse Öğrenci Kaydetme</h3>
        <div class="inner-sec">
            <div class="section-header">
                @using (Html.BeginForm("SaveStudenttoLesson", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return Validate(this);", onkeydown = "return event.key != 'Enter';" }))
                {
                    @Html.HiddenFor(model => model.LessonId)
                    <table class="table table-bordered table-hover toggle-circle" id="exampleFootableFiltering" data-paging="true" data-filtering="true" data-sorting="true">
                        <thead>
                            <tr>
                                <th>Öğrenci Ad</th>
                                <th>Öğrenci Soyad</th>
                                <th>Öğrenci Numarası</th>
                                <th>Derse Ekleme</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.StudenttoLessons.Count; i++)
                            {
                                var item = Model.StudenttoLessons[i];
                                <tr>
                                    @Html.HiddenFor(m => m.StudenttoLessons[i].Id)
                                    <td>@item.Name</td>
                                    <td>@item.Surname</td>
                                    <td>@item.StudentNumber</td>
                                    <td>
                                        @Html.CheckBoxFor(m => m.StudenttoLessons[i].Status, new { htmlAttributes = new { @class = "form-control", required = "required", autocomplete = "off" } })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary submit mb-4">İşlemi Kaydet</button>
                }
            </div>
        </div>
    </div>
</section>