@{
    ViewData["Title"] = "GameHistory";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}


@model GameHistoryListPage
@using System
@using System.Linq
@using StudentTracking.Data.Models

<title>Admin Panel - Retailer List</title>
<body>
    <div class="container">
        <h3 class="tittle">Kayıt Ol</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-150">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover toggle-circle custom-table">
                        <thead>
                            <tr>
                                <th data-name="correctLetter">Doğru Kelime</th>
                                <th data-name="userLetter">Kullanıcının Cevabı</th>
                                <th data-name="isCorrect">Sonuç</th>
                                <th data-name="wrongCount">Yanlış Sayısı</th>
                                <th data-name="createDate">Oynama Tarihi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.GameHistoryResponseDtos)
                            {
                                <tr>
                                    <td>
                                        <div class="word-list">
                                            @foreach (var checkWord in item.CheckWordResponseDtos.CheckWords)
                                            {
                                                <span>@checkWord.CorrectLetter</span>
                                            }
                                        </div>
                                    </td>
                                    <td>
                                        <div class="word-list">
                                            @foreach (var checkWord in item.CheckWordResponseDtos.CheckWords)
                                            {
                                                <span>@checkWord.UserLetter</span>
                                            }
                                        </div>
                                    </td>
                                    <td>
                                        <div class="word-list">
                                            @foreach (var checkWord in item.CheckWordResponseDtos.CheckWords)
                                            {
                                                <span>@checkWord.IsCorrect</span>
                                            }
                                        </div>
                                    </td>
                                    <td>@item.CheckWordResponseDtos.WrongCount</td>
                                    <td>@item.CreateDate.ToString("dd MMMM yyyy HH:mm")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <style>
        .custom-table {
            background-color: #f8f9fa;
            width: 100%;
        }

        .word-list span {
            display: block;
        }
    </style>
</body>
