@model StudentTracking.Data.Models.ParticipateGamePage;

@{
    ViewData["Title"] = "ParticipateGame";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<!DOCTYPE html>
<html lang="tr">


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <title>Speech To Text</title>
</head>

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <div class="row inner-sec">
            <div class="lead mx-auto" style="text-align: center;">
                <div class="form-group">
                    <h4>@Model.Game.Description</h4>
                </div>
                <div class="form-group">
                    <label for="validationCustom01">İpucu görmek ister misin?</label>
                    <button id="infoButton" class="btn btn-info" type="button">İpucuyu Göster</button>
                </div>
                <div class="form-group" id="gameWord">
                    @Html.EditorFor(model => model.GameConfiguration.Word, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", autocomplete = "off", style = "width: 310px; margin: 0 auto;" } })
                </div>
                @*<div class="form-group">
                    <label for="validationCustom01">Ne olduğunu dinlemek ister misin?</label>
                    <button id="audioButton" class="btn btn-info" type="button">Sesi Dinle</button>
                </div>
                <div class="form-group" id="gameSound">
                    TO DO: Alttaki audio kısmı kullanıcı tıklayınca sesi çalıyor.
                    Discord'a sesleri yükledikten bağlantı linkini kopyalayıp burada kullanabilirsin.
                    Not: Bu yapı çalışıyor sadece ses kayıtları bulunup DB'ye eklenecek.
                    <audio controls>
                        <source src="@Model.GameConfiguration.Sound" type="audio/mpeg">
                    </audio>
                </div>*@
                <div class="form-group">
                    @*<img src="@Model.GameConfiguration.Image" class="card-img-top img-fluid" alt="">*@
                    <img src="@Model.GameConfiguration.Image" width="400" height="300" alt="">
                </div>
                <div class="form-group">
                    <button class="btn btn-success" id="start">Başlat</button>
                    <button class="btn btn-danger" id="stop">Durdur</button>
                    <p id="status" class="lead mt-3" style="display: none">Dinleniyor...</p>
                </div>
                <div class="form-group">
                    <h2 class="mt-4">Metin</h2>
                    <div class="p-3" style="border: 1px solid gray; width: 500px; height: 90px; border-radius: 8px; margin: 0 auto;">
                        <span id="final"></span>
                        <span id="interim"></span>
                    </div>
                </div>
                <div class="form-group">
                    <button style="margin: 0 auto;" class="btn btn-primary" id="completeGame" action="participateGame()">Oyunu Bitir</button>
                </div>
            </div>
        </div>
</section>
</html>

<script>
    if ("webkitSpeechRecognition" in window) {
        let speechRecognition = new webkitSpeechRecognition();
        let final_transcript = "";

        speechRecognition.continuous = true;
        speechRecognition.interimResults = true;
        speechRecognition.lang = "tr-TR";

        speechRecognition.onstart = () => {
            document.querySelector("#status").style.display = "block";
        };
        speechRecognition.onerror = () => {
            document.querySelector("#status").style.display = "none";
        };
        speechRecognition.onend = () => {
            document.querySelector("#status").style.display = "none";
        };

        speechRecognition.onresult = (event) => {
            let interim_transcript = "";

            for (let i = event.resultIndex; i < event.results.length; ++i) {
                if (event.results[i].isFinal) {
                    final_transcript += event.results[i][0].transcript.toLowerCase();
                    document.getElementById("completeGame").style.display = "block";
                    if (final_transcript.length > 20) {
                        swal({
                            title: "Opss! Çok uzun konuştunuz.",
                            text: "Lütfen sadece istenilen kelimeyi söyleyin.",
                            icon: "warning",
                            button: "Tamam",
                        });
                        speechRecognition.stop();
                        document.getElementById("completeGame").style.display = "none";
                        final_transcript = "";
                        document.querySelector("#final").innerHTML = "";
                        document.querySelector("#interim").innerHTML = "";
                    }
                } else {
                    interim_transcript += event.results[i][0].transcript.toLowerCase();
                }
            }

            document.querySelector("#final").innerHTML = final_transcript;
            document.querySelector("#interim").innerHTML = interim_transcript;
        };

        document.querySelector("#start").onclick = () => {
            speechRecognition.start();
        };
        document.querySelector("#stop").onclick = () => {
            speechRecognition.stop();
        };
    } else {
        console.log("Konuşma Metne Dönüştürme Mevcut Değil");
    }

    $(function participateGame() {
        $('#completeGame').click(function () {
            $.ajax({
                url: '/Customer/ParticipateGame',
                method: 'POST',
                data: {
                    ID: @Model.GameConfiguration.ID,
                    GameID: @Model.GameConfiguration.GameID,
                    InputWord: document.querySelector("#final").innerHTML
                },
                success: function (response) {
                    var checkWords = response.checkWords;
                    var wrongCount = response.wrongCount;
                    var wordLength = response.wordLength;

                    var message = "Doğru\t| Cevap\t| Sonuç\n\n";

                    for (var i = 0; i < checkWords.length; i++) {
                        var checkWord = checkWords[i];
                        var status = getEnumString(checkWord.isCorrect);
                        message += "\t" + checkWord.correctLetter + "\t\t<---->\t" + checkWord.userLetter + "\t\t---->\t" + status + "\n";
                    }

                    message += "\nYanlış Sayısı: " + wrongCount;

                    if (wrongCount > 2) {
                        swal({
                            title: "Daha Çok Çalış!",
                            text: message,
                            icon: "warning",
                            buttons: {
                                homepage: {
                                    text: "Anasayfa'ya Git",
                                    value: "homepage",
                                    className: "btn btn-info"
                                },
                                replay: {
                                    text: "Yeniden Oyna",
                                    value: "replay",
                                    className: "btn btn-success"
                                }
                            }
                        }).then(function (value) {
                            if (value === "replay") {
                                location.reload();
                            } else if (value === "homepage") {
                                window.location.href = "/Customer/GameList";
                            }
                        });
                    } else {
                        swal({
                            title: "İşte Bu Başardın!",
                            text: message,
                            icon: "success",
                            buttons: {
                                homepage: {
                                    text: "Anasayfa'ya Git",
                                    value: "homepage",
                                    className: "btn btn-info"
                                },
                                replay: {
                                    text: "Yeniden Oyna",
                                    value: "replay",
                                    className: "btn btn-success"
                                }
                            }
                        }).then(function (value) {
                            if (value === "replay") {
                                location.reload();
                            } else if (value === "homepage") {
                                window.location.href = "/Customer/GameList";
                            }
                        });
                    }
                }
            });
        });
    });


    function getEnumString(value) {
        if (value === 0) {
            return "Doğru";
        } else if (value === 1) {
            return "Yanlış";
        } else if (value === 2) {
            return "Boş";
        } else {
            return "";
        }
    }

</script>

<script>
    window.onload = function () {
        document.getElementById("gameWord").style.display = "none";
        //document.getElementById("gameSound").style.display = "none";
        document.getElementById("completeGame").style.display = "none";
    }

    const infoButton = document.getElementById("infoButton");
    //const audioButton = document.getElementById("audioButton");

    infoButton.addEventListener("click", function () {
        const gameWord = document.getElementById("gameWord");

        if (gameWord.style.display === "none") {
            gameWord.style.display = "block";
        } else {
            gameWord.style.display = "none";
        }
    });

    //audioButton.addEventListener("click", function () {
    //    const gameSound = document.getElementById("gameSound");

    //    if (gameSound.style.display === "none") {
    //        gameSound.style.display = "block";
    //    } else {
    //        gameSound.style.display = "none";
    //    }
    //});
</script>